.frameworkless-app {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100%;
  height: auto;
  margin-left: 30px;
}